@use "sass:math";

$columns: 12;
$gap: 6px;

.container {
  max-width: 1200px;
  margin: -$gap auto;
}


.row {
  display: flex;
  flex-wrap: wrap;

  [class^="col-"] {
    padding: $gap 0;
  }

  @for $i from 1 through $columns {
    .col-#{$i} {
      width: math.div(100%, $columns) * $i;
    }
  }
  @media (max-width: 1000px) {
    @for $i from 1 through $columns {
      .col-md-#{$i} {
        width: math.div(100%, $columns) * $i;
      }
    }
    .col-md-12 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }
  @media (max-width: 650px) {
    @for $i from 1 through $columns {
      .col-md2-#{$i} {
        width: math.div(100%, $columns) * $i;
      }
    }
  }
  @media (max-width: 400px) {
    @for $i from 1 through $columns {
      .col-sm-#{$i} {
        width: math.div(100%, $columns) * $i;
      }
    }
  }
}