/* main styling */
.main {
  font-family: map-get($fonts, open);
  color: map-get($colors, text-color);
  background-color: #fff;
  padding: 5em 0;

  .row {
    margin: 0 0 0 -2.5em;
  }

  .row > * {
    padding: 5em 0 0 5em;
  }

  .sidebanner {
    h3 {
      font-size: 1.35em;
      margin: 0 0 1em 0;
      font-weight: map-get($font-weight, bold);
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1em;
      margin: 0 0 3em 0;
    }

  }

  .main-content {
    h2 {
      font-size: 2.25em;
      margin: 0 0 1.1em 0;
      line-height: 1em;
      font-weight: map-get($font-weight, bold);
    }

    p {
      margin-bottom: 2em;
      line-height: 2.25em;

      a {
        display: inline;
        color: #0090c5;
        text-decoration: underline;
      }
    }
  }

  .btn-icon {
    padding: 0.6em 1.5em;
    background-color: map-get($colors, btn-color);
    display: inline-block;
    font-size: 1.35em;
    font-weight: map-get($font-weight, bold);
    color: #fff;
    @extend %btn-brd-rad;

    i {
      margin-right: 0.5em;
    }
  }
}

@media (max-width: 1280px) {
  .main {
    padding: 3.125em 0;

    .row > * {
      padding: 3.125em 0 0 3.125em;
    }
  }
}

@media (max-width: 1000px) {
  .main {
    .sidebanner {
      width: 100%;

      .grid {
        a {
          img {
            width: 100%;
          }
        }
      }
    }

    .col-8 {
      order: -1;
    }

    .btn-icon {
      width: 100%;
      text-align: center;
    }
  }
}
